:root {
    --theme-black: rgba(30, 30, 30, 0.9);
    --theme-grey: rgba(100, 100, 100, 0.9);
    --theme-darkgrey: rgba(60, 60, 60, 0.9);
    --theme-darkergrey: rgba(40, 40, 40, 1);
    --theme-leather: rgba(191, 132, 105, 1);
    --theme-orange: rgba(244, 180, 82, 1);
    --theme-banana: rgba(250, 216, 164, 1);
}

::-webkit-scrollbar {
    display: none;
}

.body, html {
    margin: 0;
    padding: 0;
}

#main-html {
    position: relative;
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: scroll;
    background-color: darkgray;
}

#main-html-content {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    min-height: 500px;
    overflow: scroll;
}

.beagle-builder * {
  font-family: "Source Sans Pro", sans-serif;
}

.beagle-builder {
    z-index: 999999;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: block;
    min-height: 500px;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.beagle-builder * {
    pointer-events: all;
}

.beagle-builder h1, .beagle-builder h2, .beagle-builder h3, .beagle-builder h4, .beagle-builder h5, .beagle-builder h6, .beagle-builder h7, .beagle-builder h8 {
    margin-top: 0;
    margin-bottom: 0;
}

.beagle-temp-show {
    display: block !important;
}
/* beagle top bar */
.beagle-builder-top-bar {
    width: calc(100% - 300px);
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beagle-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 100%;
    margin-left: 25px;
    animation: beagle-wobble 30s both;
    animation-iteration-count: infinite;
}

#paw_logo {
    transform: rotateZ(25deg);   
}

@keyframes beagle-wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    transform: translateX(0px) rotate(6deg);
  }
  45% {
    transform: translateX(-10px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(-1.2deg);
  }
}


.beagle-menu-buttons {
    width: auto;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#beagle-update-site-button {
    background-color: #ffb237;
}

.beagle-menu-size-button {
    float: left;
    cursor: pointer;
    transition-duration: 150ms;
    height: 100%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.beagle-menu-size-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.beagle-menu-size-button-single {
    margin-top: 45%;
    height: 50%;
}

.beagle-mobile-width {
    width: 35% !important;
}

.beagle-laptop-width {
    width: 95% !important;
}

.beagle-menu-buttons-inner {
/*
    display: flex;
    justify-content: space-around;
    flex-direction: row;
*/
    width: 100%;
}

.beagle-menu-buttons-inner .beagle-button {
/*    margin-right: 50px;*/
}

.beagle-button {
    float: right;
    border-radius: 0px 20px 0px 20px;
    background-color: var(--theme-leather);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    min-width: 100px;
    transition-duration: 100ms;
    cursor: pointer;
    margin-right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.beagle-widget-button {
    border-radius: 0px 20px 0px 20px;
    background-color: var(--theme-leather);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    min-width: 100px;
    transition-duration: 100ms;
    cursor: pointer;
}

.beagle-button-flexible-width {
    border-radius: 0px 20px 0px 20px;
    background-color: var(--theme-leather);
    border: none;
    color: white;
    height: 40px;
    min-width: auto;
    transition-duration: 100ms;
    cursor: pointer;
}

.beagle-button:hover, .beagle-button-flexible-width:hover, .beagle-widget-button:hover {
    filter: brightness(1.2);
}

/* beagle right bar */
.beagle-builder-right-bar {
    width: 300px;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--theme-black);
}

.beagle-brand-name-wrapper {
    height: 70px;
    width: 100%;
    border: 1px solid var(--theme-banana);
    border-radius: 50px 0 0 0;
    position: relative
}
.beagle-brand-name-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.beagle-brand-name-inner h2, .beagle-brand-name-inner h7 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}


/* beagle panels */
#beagle-html-content-edit {
    resize: vertical;
}

.beagle-builder-right-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beagle-component-panel {
    display: flex;
    flex-flow: column;
    opacity: 0;
    transition-duration: 100ms;
    position: absolute;
    height: 100%;
    width: 50%;
    background: var(--theme-darkergrey);
/*    transform: translate(-100%, 0);*/
}

.beagle-component-gallery-panel {
    display: none;
    flex-flow: column;
/*    opacity: 0;*/
    transition-duration: 100ms;
    position: absolute;
    height: 90%;
    width: 200%;
    background: rgba(80, 80, 80, 1);
    right: 150%;
}

.beagle-component-block-overlay {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.2);
}

.beagle-component-buttons {
    position: absolute;
/*    top: 50%;*/
    right: 0%;
/*    transform: translate(-50%, -50%);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    opacity: 0;
    transition-duration: 150ms;
}

.beagle-component-buttons h5 {
    transition-duration: 150ms;
    cursor: pointer;
    padding: 10px;
    background-color: var(--theme-leather);
    font-weight: 100;
    color: white;
/*    border-radius: 0px 20px 0px 20px;*/
    text-align: center;
    width: auto;
}

.beagle-component-buttons h5:hover {
    filter: brightness(1.1);
}

.beagle-component-block-overlay h4 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: auto;
    background-color: white;
    border-top: var(--theme-leather) solid 1px;
    border-left: var(--theme-leather) solid 1px;
    border-radius: 20px 0 0 0;
}

.beagle-component-gallery-panel .beagle-component-panel-body {
    overflow-y: scroll;
    flex-grow: 1;
    padding: 0px 20px;
}

.beagle-component-premade-item {
/*    cursor: pointer;*/
    transition-duration: 150ms;
    position: relative;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    position: relative;
/*    max-height: 200px;*/
    height: 200px;
    overflow: hidden;
    border: 1px black solid;
}

.beagle-component-premade-item:hover {
/*    filter: brightness(1.2);*/
}

.beagle-component-premade-item:hover .beagle-component-buttons {
    opacity: 1;
}

.beagle-component-premade-inner {
    pointer-events: none;
}

.beagle-flex {
    display: flex;
}

.beagle-component-panel-body {
    overflow-y: scroll;
    flex-grow: 1;
}

.beagle-component-item {
    cursor: pointer;
    transition-duration: 150ms;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px rgba(100, 100, 100, 0.9) solid;
    justify-content: space-between;
}

.beagle-component-item:hover {
    background-color: rgba(100, 100, 100, 0.7);
}

.beagle-component-item * {
    color: white;
    font-weight: 100;
    font-size: 1em; 
}

.beagle-builder .beagle-component-item h3 {
    margin-top: 5px;
}

.beagle-component-logo {
    width: 30%;
}

.beagle-component-logo svg {
    fill: white;
    stroke: white;
}

.beagle-panel-toolbar {
    height: calc(100vh - 70px);
    width: 15%;
    position: relative;
    overflow-y: scroll;
    background-color: var(--theme-darkgrey);
    border-right: grey 1px solid;
}

.beagle-active-tool {
    background-color: #ffb237;
}

.beagle-active-view-tool {
    background-color: #56db6c;
}

.beagle-tool {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition-duration: 150ms;
}

.beagle-tool:hover {
    filter: brightness(1.2);
}

.beagle-tool-icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.beagle-tool svg {
    width: 50%;
    fill: white;
}

.beagle-panel-body {
    height: calc(100vh - 70px);
    width: 85%;
    position: relative;
    overflow-y: scroll;
}

.beagle-section {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.beagle-panel-header {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: rgba(200, 200, 200, 0.5);
    font-weight: 400;
}

.beagle-panel {
    width: 100%;
    margin-top: 20px;
}

.beagle-panel * {
    color: white;
    font-weight: 100;
}

.beagle-panel-container {
    width: 90%;
    margin: auto;
}

.beagle-panel-row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.beagle-panel-row-after {
    margin-top: 5px;
}

.beagle-panel-row-inner {
    display: flex;
    flex-direction: row;
}

.beagle-panel-row-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beagle-align-right {
    text-align: right;
}

.beagle-element-panel-logo {
    width: 60px;
    height: 20px;
    color: var(--theme-black);
    text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 150ms;
}

.beagle-element-panel-logo:hover {
    filter: brightness(1.2);
}

.beagle-element-logo select {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.beagle-element-logo {
    position: relative;
    background-color: var(--theme-banana);
/*    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);*/
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.beagle-element-name-logo {
    background-color: lightcyan;
/*    clip-path: polygon(0% 100%, 0% 0%, 15% 0, 85% 85%, 85% 0, 100% 0, 100% 100%, 75% 100%, 15% 28%, 15% 100%);*/
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.beagle-panel-row-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beagle-panel-block {
    padding: 5px 10px;
    background-color: rgba(200, 200, 200, 1);
    width: calc(100% - 20px);
}

.beagle-panel-row-full-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beagle-list-view {
    width: 100%;
    height: 20vh;
    min-height: 100px;
    border: 1px darkgrey solid;
    border-radius: 10px;
    overflow: hidden;
}

.beagle-list-view-large {
    width: 100%;
    height: 30vh;
    min-height: 100px;
    border: 1px darkgrey solid;
    border-radius: 10px;
    overflow: hidden;
}

.beagle-list-view-header {
    background-color: var(--theme-grey);
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beagle-list-view-header .beagle-add-icon, .beagle-list-view-header .beagle-refresh-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

.beagle-list-view-header-inner {
    position: relative;
}

.beagle-list-view-header-inner h3 {
    text-align: center;
}

.beagle-add-icon, .beagle-help-icon, .beagle-refresh-icon {
    width: 15px;
    position: relative;
    cursor: pointer;
    transition-duration: 100ms;
}

.beagle-help-icon:hover path{
    fill: var(--theme-orange);
}

.beagle-add-icon select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.beagle-list-view-body {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.beagle-list-view-list {
    height: auto;
}

.beagle-list-view-list-item {
    border-bottom: 1px darkgrey solid;
    padding: 5px 10px;
    position: relative;
    transition-duration: 100ms;
/*    height: 15px;*/
}

.beagle-list-view-list-item:hover {
/*    background-color: var(--theme-orange);*/
}

.beagle-remove-class-list-item {
    position: absolute;
    right: 10px;
    z-index: 0;
    cursor: pointer;
    font-weight: 500;
}

.beagle-remove-class-list-item:hover {
    color: var(--theme-orange);
}

.close-modal-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.beagle-edit-modal {
    position: relative;
    margin: auto;
    background-color: var(--theme-darkgrey);
    padding: 20px 20px;
    color: white;
    height: auto;
    width: 70%;
    margin-top: 0;
}

.beagle-floating-widget {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
/*    width: calc(100vw - 300px);*/
    width: 100%;
    z-index: 1;
    height: calc(100vh - 70px);
    background-color: var(--theme-darkgrey);
}
.beagle-widget input, .beagle-widget textarea{
    color: var(--theme-black);
}

/* gallery select */
.beagle-image-select-gallery-image {
    float: left;
    width: calc(50% - 2px);
    height: 100px;
    border: var(--theme-grey) 1px solid;
}

.beagle-image-select-target {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-duration: 250ms;
}

.beagle-image-select-target-selected {
    opacity: 0.5;
}

/* context menu */
.beagle-context-menu {
    display: none;
    position: absolute;
    border-radius: 1px;
    width: auto;
    min-width: 200px;
    background: white;
    box-shadow: 1px 1px 5px #888888;
    flex-direction: column;
}

.beagle-context-menu-item {
    transition-duration: 100ms;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
}

.beagle-context-menu-item[value=none] {
    opacity: 0;
}

.beagle-context-menu-item:hover {
    background-color: var(--theme-orange);
}

.beagle-translatable {
    outline: blue 2px dotted;
}

.beagle-selected {
    outline: yellow 2px dashed;
    background-color: rgba(66, 245, 194, 0.6);
    animation-name: beagle-selected-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.beagle-right-clicked {
    outline: blue 1px outset;
}

.beagle-context-menu-inner {
    opacity: 0;
    transition-duration: 150ms;
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateX(100%);
    background: white;
    box-shadow: 1px 1px 5px #888888;
    flex-direction: column;
}

.beagle-hovering {
    outline: grey solid 1px;
}

@keyframes beagle-selected-blink {
    0% {
        background-color: rgba(66, 245, 194, 0);
        outline: var(--theme-orange) 5px dashed;
    }
    20% {
        background-color: rgba(66, 245, 194, 0.6);
        outline: rgba(252, 244, 3, 0) 1px dashed;
    }
    100% {
        background-color: rgba(66, 245, 194, 0);
        outline: var(--theme-orange) 5px dashed;
    }
}

/* notification */
.beagle-notification {
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 0px;
    background-color: var(--theme-orange);
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 300px;
    padding: 20px 20px;
    transform: translateX(100%);
    transition-duration: 250ms;
}

/* beagle trap */
.beagle-col-md-1 {
    width: 8.3%;
}

.beagle-col-md-2 {
    width: 16.6%;
}

.beagle-col-md-3 {
    width: 25%;
}

.beagle-col-md-4 {
    width: 33.3%;
}

.beagle-col-md-5 {
    width: 41.6%;
}

.beagle-col-md-6 {
    width: 50%;
}

.beagle-col-md-12 {
    width: 100%;
}

.beagle-row {
    margin-top: 20px;
}

.beagle-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.beagle-show {
    opacity: 1 !important;
}

.temp-visible {
    min-height: 10px;
}

.beagle-preview-image-wrapper {
    width: 100%;
    text-align: center;
}

.beagle-preview-image-wrapper img {
    width: 100%;
}

.beagle-preview-image-wrapper .beagle-button {
    margin: auto;
    float: none;
    margin-top: 20px;
    width: 100%;
}

.beagle-disabled {
    background-color: gray;
    pointer-events: none;
}