<div class="list-link-wrapper element-gap-small">
    <a class="list-link hvr-sweep-to-right">
        <p>Review articles on technology-based social work interventions</p>
        <div class="down-arrow-wrapper">
            <div class="down-arrow">
                <div class="down-arrow-line"></div>
                <div class="down-arrow-angle"></div>
            </div>
        </div>
    </a>
    <div class="list-link-content">
        <div class="ref-item">
            <div class="ref-header">
                <p>
                    Bessaha, M. L., Sabbath, E. L., Morris, Z., Malik, S., Scheinfeld, L., &amp; Saragossi, J. (2020). A systematic review of loneliness interventions among non-elderly adults. <span>Clinical Social Work Journal</span>, 48(1), 110–125.
                </p>
            </div>
            <ul class="ref-list">
                <li>
                    <a href="https://doi.org/10.1007/s10615-019-00724-0">
                        https://doi.org/10.1007/s10615-019-00724-0
                    </a>
                </li>
            </ul>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Chan, C. (2018). ICT-supported social work interventions with youth: A critical review. <span>Journal of Social Work</span>, 18(4), 468–488.
                </p>
            </div>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Chan, C. &amp; Holosko, M. J. (2016). A review of information and communication technology enhanced social work interventions. <span>Research on Social Work Practice</span>, 26(1), 88–100.
                </p>
            </div>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Ramsey, A. T., &amp; Montgomery, K. (2014). Technology-based interventions in social work practice: A systematic review of mental health interventions. <span>Social Work in Health Care</span>, 53(9), 883–899.
                </p>
            </div>
            <ul class="ref-list">
                <li>
                    <a href="https://doi.org/10.1080/00981389.2014.925531">
                        https://doi.org/10.1080/00981389.2014.925531
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>