<div class="list-link-wrapper element-gap-small">
    <a class="list-link hvr-sweep-to-right">
        <p>List Title</p>
        <div class="down-arrow-wrapper">
            <div class="down-arrow">
                <div class="down-arrow-line"></div>
                <div class="down-arrow-angle"></div>
            </div>
        </div>
    </a>
    <div class="list-link-content">
        <div class="ref-item">
            <div class="ref-header">
                <p>
                    Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit.</span>, 48(1), 110–125.
                </p>
            </div>
            <ul class="ref-list">
                <li>
                    <a href="https://doi.org/10.1007/s10615-019-00724-0">
                        https://doi.org/10.1007/s10615-019-00724-0
                    </a>
                </li>
            </ul>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit.</span>, 48(1), 110–125.
                </p>
            </div>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit.</span>, 48(1), 110–125.
                </p>
            </div>
        </div>
        <div class="ref-item element-gap">
            <div class="ref-header">
                <p>
                    Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit.</span>, 48(1), 110–125.
                </p>
            </div>
            <ul class="ref-list">
                <li>
                    <a href="https://doi.org/10.1080/00981389.2014.925531">
                        https://doi.org/10.1080/00981389.2014.925531
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>