<div class="row element-gap-medium">
    <div class="col-md-4 aos-init aos-animate" style="position: relative;" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="profile-image-wrapper" style="height: 356px;">
            <div class="profile-photo-shadow"></div>
            <div class="profile-image-inner">
                <img class="profile-photo" src="images/profile-dummy.png" style="height: 100%;">
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 aos-init aos-animate" style="position: relative;" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1 class="section-title element-gap profile-name">
            NAME
        </h1>
        <p class="element-gap-small profile-title">
            TITLE
        </p>
        <p class="profile-divider"></p>
        <p class="align-justify mobile-text-align-left element-gap">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id viverra neque. Ut tempor imperdiet pulvinar. Maecenas vel ligula et ligula fringilla ultrices. Praesent vehicula tempus tincidunt. Suspendisse euismod ac ligula nec finibus. Nullam non venenatis metus. Etiam convallis tellus vel nisl placerat, ac rhoncus nunc consectetur. Ut ut leo eget urna pellentesque tincidunt. Mauris egestas, leo eu posuere luctus, massa arcu pulvinar nisl, sit amet vehicula tellus nisi id dui. Cras rutrum elit nec augue ultrices, at tempus mauris dapibus. Sed ullamcorper suscipit turpis non ultricies.
        </p>
    </div>
</div>