<div class="row">
    <div class="col-md-12">
        <h1 class="section-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            TITLE
        </h1>
    </div>
</div>
<div class="row element-gap">
    <div class="col-md-12" style="position: relative;">
        <div class="content-paragraph-panel-wrapper" data-aos="zoom-in">
            <div class="content-paragraph-panel-background">
                <div class="content-paragraph-panel-top"></div>
            </div>
            <div class="content-paragraph-panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id viverra neque. Ut tempor imperdiet pulvinar. Maecenas vel ligula et ligula fringilla ultrices. Praesent vehicula tempus tincidunt. Suspendisse euismod ac ligula nec finibus. Nullam non venenatis metus. Etiam convallis tellus vel nisl placerat, ac rhoncus nunc consectetur. Ut ut leo eget urna pellentesque tincidunt. Mauris egestas, leo eu posuere luctus, massa arcu pulvinar nisl, sit amet vehicula tellus nisi id dui. Cras rutrum elit nec augue ultrices, at tempus mauris dapibus. Sed ullamcorper suscipit turpis non ultricies.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id viverra neque. Ut tempor imperdiet pulvinar. Maecenas vel ligula et ligula fringilla ultrices. Praesent vehicula tempus tincidunt. Suspendisse euismod ac ligula nec finibus. Nullam non venenatis metus. Etiam convallis tellus vel nisl placerat, ac rhoncus nunc consectetur. Ut ut leo eget urna pellentesque tincidunt. Mauris egestas, leo eu posuere luctus, massa arcu pulvinar nisl, sit amet vehicula tellus nisi id dui. Cras rutrum elit nec augue ultrices, at tempus mauris dapibus. Sed ullamcorper suscipit turpis non ultricies.
                </p>
            </div>
        </div>
    </div>
</div>