<div class="row">
    <div class="col-md-12">
        <h1 class="section-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            Introduction
        </h1>
    </div>
</div>
<div class="row element-gap">
    <div class="col-md-12" style="position: relative;">
        <div class="content-paragraph-panel-wrapper" data-aos="zoom-in">
            <div class="content-paragraph-panel-background">
                <div class="content-paragraph-panel-top"></div>
            </div>
            <div class="content-paragraph-panel">
                <p>
                    The aim of this platform is to provide social work students and practitioners with references regarding technology-supported social work group skills. The webpage consists of: 1) roleplay videos of technology-supported social work group activities led by social work students; 2) practical tips from social work fieldwork supervisors regarding the preparation, design, and delivery of group work via technology; and 3) useful resources related to technology-supported social work practice.
                </p>
                <p>
                    This platform is still being developed. We invite you to share your feedback on the content and any online group activities and practical skills that you would like us to include on this platform, to enable more social work students and practitioners to benefit from it.
                </p>
            </div>
        </div>
    </div>
</div>