<div class="row element-gap">
    <div class="col-md-6" style="position: relative;">
        <h2 class="section-subtitle">
            PolyU APSS BASW students:
        </h2>
        <ul class="item-list">
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Cheung Hoi Yi
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Lau Ka Yu Athena
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Wong Hoi Chun
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Yim Wai Ching Mimi
            </li>
        </ul>
    </div>
    <div class="col-md-6 mobile-margin-top" style="position: relative;">
        <h2 class="section-subtitle">
            PolyU APSS fieldwork supervisors:
        </h2>
        <ul class="item-list">
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Cheung Shuk Ha Shandy
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Leung Kar Wah Tony
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Wong Man Yuen
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Wong Kon Chi (“Chi Sir”)
            </li>
        </ul>
    </div>
</div>