<div class="row element-gap">
    <div class="col-md-6" style="position: relative;">
        <h2 class="section-subtitle">
            TITLE 1:
        </h2>
        <ul class="item-list">
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 1
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 2
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 3
            </li>
            <li data-aos="fade-right" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 4
            </li>
        </ul>
    </div>
    <div class="col-md-6 mobile-margin-top" style="position: relative;">
        <h2 class="section-subtitle">
            TITLE 2:
        </h2>
        <ul class="item-list">
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 1
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 2
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 3
            </li>
            <li data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine">
                Item 4
            </li>
        </ul>
    </div>
</div>