<div id="video-name" class="row">
    <div class="col-md-12">
        <h1 class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            123 Bang!
        </h1>
    </div>
</div>
<div class="row element-gap-medium aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="col-md-12">
        <video controls="" class="embedded-video" poster="/images/v-123-bang.jpg">
            <source src="./videos/123%20Bang_Mimi%20Yim%20Wai%20Ching_with%20subtitles.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</div>